#wrapper {
	/*margin: 30px -5px;*/
	margin-left: 10px;
	width: 481px;
	height: 250px;
	overflow: hidden;
	position: relative;
	padding: 0px;
}
#carousel {
	padding: 5px 0;
	height: 242px;
}
#carousel div {
	height: 220px;
	width: 171px;
	cursor: pointer;
	margin-right: -161px;
	float: left;
	position: relative;
	padding: 10px;
	/*box-shadow: 0 0 10px #000;*/
}
#carousel button {
	margin: 0 15px 0 15px;
}
#carousel div:last-child {
	cursor: default;
}
#carousel div span {
	font-size: 12px;
	text-align: center;
	display: inline-block;
	width: 99%;
	max-height: 120px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
}
.clearfix {
	float: none;
	clear: both;
}